<%- include('header'); -%>
    <!-- home -->

  <div class="home">
    <header>About Us</header>
    <p>Welcome to CapacityBay. inc, the practical and hands-on eLearning platform and organisation established to revolutionize learning and workforce training for U.S. Veterans, transitioning service members, New Americans, immigrants. refugees as well as others in areas of substantial unemployment and technology deprived communities such as
        sub-Sahara Africa and other parts of the world. We also provide integrated consulting services for individuals. businesses and governmment agencies. </p>
  </div>

  <%- include('footer'); -%>