<%- include('header'); -%>
    <!-- home -->

  <div class="home">
    <header>Contact</header>
    <p>CapacityBay. inc, is a U.S based not for profit practical and hands-on information technology training and workforce development institution with headquarters in Baltimore City, Maryland, the USA, and an African regional office in Lagos, Nigeria.</p>
  </div>

  <%- include('footer'); -%>